#Q1. What are data structures, and why are they important?

  =Data structures are specialized formats for organizing, processing, and storing data efficiently. They are essential because they allow data to be used effectively, optimize memory use, speed up processing, and enable developers to solve complex problems using suitable formats such as lists, stacks, queues, trees, and graphs.

#Q2.Explain the difference between mutable and immutable data types with examples.

  =Mutable data types can be changed after creation. Example: list, dict, set

  my_list = [1, 2]

my_list.append(3)  # Now [1, 2, 3]

  Immutable data types cannot be changed after creation. Example: int, float, str, tuple

my_str = "hello"

my_str[0] = 'H' → This will raise an error

#Q3.What are the main differences between lists and tuples in Python?

  =Lists are mutable; tuples are immutable.

Lists use more memory but are flexible; tuples are faster and memory-efficient.

Syntax: [] for lists, () for tuples.

#Q4. Describe how dictionaries store data.

  =Dictionaries store data in key-value pairs. Each key is unique and maps to a specific value. Internally, Python uses a hash table to allow fast retrieval based on the key.

#Q5. Why might you use a set instead of a list in Python?

  =Sets are useful when:

You want unique elements (automatically removes duplicates).

You need fast membership testing (in is faster in sets).

You perform set operations (union, intersection, difference).

#Q6. What is a string in Python, and how is it different from a list?

 =A string is a sequence of characters enclosed in quotes and is immutable. A list is a collection of items (can be different types) and is mutable.

#Q7. How do tuples ensure data integrity in Python?

=Because tuples are immutable, they prevent accidental changes to the data, making them ideal for storing constant data or using as dictionary keys.

#Q8.What is a hash table, and how does it relate to dictionaries in Python?

=A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables, allowing constant-time key access.

Q9. Can lists contain different data types in Python?

=Yes, Python lists can hold heterogeneous elements:

#Q10. Explain why strings are immutable in Python.

=Strings are immutable to ensure data integrity, thread safety, and hashability, making them usable as dictionary keys and improving performance by enabling string interning.

#Q11.What advantages do dictionaries offer over lists for certain tasks?

=Faster lookup and search using keys (O(1) vs. O(n))

More organized data storage with key-value pairs

Better for mapping relationships

#Q12.Describe a scenario where using a tuple would be preferable over a list.

 =Use a tuple to return multiple values from a function or store coordinates ((x, y)) that should not change.

#Q13.How do sets handle duplicate values in Python?

 =Sets automatically eliminate duplicates. Adding an existing element has no effect.

#Q14.How does the in keyword work differently for lists and dictionaries?

=In lists: checks if a value is present.

In dictionaries: checks if a key is present (not the value).

#Q15. Can you modify the elements of a tuple? Explain why or why not.

=No. Tuples are immutable, so their contents cannot be changed after creation.

#Q16.What is a nested dictionary, and give an example of its use case.

=A nested dictionary contains another dictionary as a value.
Example:

student = {

    "name": "John",
    "marks": {"math": 90, "science": 85}
}

#Q17. Describe the time complexity of accessing elements in a dictionary.

=Accessing an element by key in a dictionary is O(1) on average due to hashing.

#Q18. In what situations are lists preferred over dictionaries?

=When order matters

When dealing with sequences or iterations

When there's no need for key-value pairing

#Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

=Prior to Python 3.7, dictionaries did not maintain insertion order. Although newer versions do, dictionary operations are based on keys, not positions, so you can’t access elements by index.

#Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

=Lists: retrieve by index → list[0]

Dictionaries: retrieve by key → dict["key"]

Dictionaries allow faster and more meaningful access via descriptive keys.

In [ ]:
#Q1.Write a code to create a string with your name and print it.
name = "Deepak Singh"
print(name)

Deepak Singh

In [ ]:
#Q2.Write a code to find the length of the string "Hello World.
text = "Hello World"
len(text)

11

In [ ]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#Q4.Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [ ]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [1]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [ ]:
#Q10.Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
#Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [ ]:
#Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [ ]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [ ]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [ ]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
#Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [ ]:
#Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [ ]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [ ]:
#Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst)
print(tup)
print(dct)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [2]:
#Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[18, 33, 47, 72, 95]

In [ ]:
#Q28.Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [ ]:
#Q29. Write a code to combine two dictionaries into one and print the result.
a = {"name": "John"}
b = {"age": 30}
combined = {**a, **b}
print(combined)

{'name': 'John', 'age': 30}

In [ ]:
#Q30.Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple"]
unique_words = set(words)
print(unique_words)

{'banana', 'apple'}